#investor {
    display: flex;
    flex-direction: row;
    background-image: url('statics/images/invest.png');
    background-repeat: no-repeat;
    background-size: 700px;
    min-height: 100vh;
    margin-left: 660px;
}

.intro {
    margin-top: 200px;
    margin-left: 50px;
    font-size: 20px;
    position: relative;
    font-style: oblique;
    color: #4834DF;
}

.button1 {
    height: 50px;
    width: 200px;
    background: #7BDCB5;
    margin-left: -300px;
    margin-top: 300px;
    border-radius: 25px;
    border: none;
}

.button1-text {
    margin-top: 10px;
    color: #4834DF;
}

.blob-one {
    margin-left: -700px;
    height: 200px;
}

.blob-two {
    margin-top: 300px;
    margin-left: -650px;
    height: 300px;
}

.wave-one {
    margin-top: -350px;
}

.card-img-top {}

#card-one {
    width: 900px;
    height: 350px;
    margin-left: 200px;
}

#cardone-title {
    color: #1287A5;
}

.card-img-top {
    width: 220px;
    height: 200px;
}

.card-text {
    font-size: 15px;
    padding: 2px;
}

.card-two {
    width: 900px;
    height: 350px;
    border-style: solid;
    border-width: initial;
}

.main-card {
    display: flex;
    flex-direction: row;
}

.computation {
    margin-left: 200px;
    height: 70px;
    width: 70%;
    border-style: solid;
    border-color: #EA7773;
}

.compute-text {
    text-align: center;
    color: #30336B;
}

.output {
    font-weight: bold;
}

#payment {
    text-decoration: underline;
}

#graph {
    border: solid black 1px;
}

th,
td {
    vertical-align: top;
}

.emi-calc {
    margin-left: 43px;
}
