<html>

<head>

    <title>Truvisory</title>
    <link rel="form2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <style>
        #one {
            margin-top: 20px;
        }
    </style>

</head>

<body>
    <br>

    <form>
        <div>
            <label>Expenses :</label><br><br>
            <label>Yearly Expenses</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="monthly_expenses"><br><br>
        </div>
        <div>
            <label>Utilities</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="monthly_expenses"><br><br>
        </div>
        <div>
            <label>Grocery</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="monthly_expenses"><br><br>
        </div>
        <div>
            <label>Yearly Leisure</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="monthly_expenses"><br><br>
        </div>
        <div>
            <label>Medical Expenses</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="monthly_expenses"><br><br>
        </div>
        <div>
            <label>Domestic Staff</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="monthly_expenses">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="monthly_expenses"><br><br>
        </div>
    </form>
    <br><br>

    <form>
        <h4>Liabilities : </h4>
        <label>Home Loan</label>&nbsp;&nbsp;<input type="text" name="liabilities">
        <label>Car Loan</label>&nbsp;&nbsp;<input type="text" name="liabilities">
    </form>

    <button type="submit" class="btn btn-success">Success</button>
</body>

</html>