<html>

<head>

    <title>Truvisory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



</head>

<body>
    <br>

    <h3 style="font-family: Raleway;font-size: 35px;font-weight: 700;color: #192A56;margin-left: 5%;padding-bottom: -10;margin-bottom: -3.5%">
        Client Details</h3>

    <div class="container" style="margin-top: 5%;margin-left: 5%;padding: 20px;border:1px solid #7BDCB5;border-radius: 10px">
        <form class="form-verticle" action="/" method="post">{%csrf_token%}

            <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4" style="font-family:Raleway;color: darkslategrey ">Name :</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="text" class="form-control" name="name" style="width: 50%" required>
                </div>


            </div>
            <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4" style="font-family:Raleway;color: darkslategrey ">Email Id :</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="email" class="form-control" name="email" style="width: 50%" required>
                </div>


            </div>

            <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4" style="font-family:Raleway;color: darkslategrey">Contact :</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="Number" class="form-control" name="contact" style="width: 50%" required>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4" style="font-family:Raleway;color: darkslategrey">Age</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="Number" class="form-control" name="age" style="width: 50%" required>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4" style="font-family:Raleway;color: darkslategrey">Marital Status</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <select class="form-control" name="marital" value="Married" style="width: 50%" required>
                        <option>Married</option>
                        <option>Unmarried</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-4 col-md-4 col-sm-4" style="font-family:Raleway;color: darkslategrey">Retirement Age</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input type="Number" class="form-control" name="retire" value="60" style="width: 50%" required>
                </div>

            </div>
            <div>
                <button type="submit" class="btn btn-primary" style="margin-left:15px;color: black;font-weight: 600">Let's know you better..</button>
            </div>
        </form>



    </div>
</body>

</html>
