<html>

<head>

    <title>Truvisory</title>
    <script src="..\statics\js\form.js"></script>
    <link rel="form2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <style>

    </style>

</head>

<body>
    <br>
    <h3 style="font-family: Raleway;font-size: 35px;font-weight: 700;color: #192A56;margin-left: 5%;padding-bottom: -10;margin-bottom: -3.5%">
        Let us know you better..</h3><br><br><br>
    <h4>Give your salary details</h4><br>
    <form class="form-inline" action="portfolio" method="post" id="form1">{%csrf_token%}
        <div class="form-group">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="exampleInputName2">Salary (Yearly)</label>
            <input type="text" class="form-control" name="sal_and_bonus" placeholder="1200000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Income Ends Year</label>
            <input type="text" class="form-control" name="sal_ends" placeholder="2060">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="form-group">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="exampleInputEmail2">Expected growth (%)</label>
            <input type="text" class="form-control" name="exp_sal_growth_in_per" placeholder="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div><br><br>
        <div class="form-group">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="exampleInputRent">Rent
                (Yearly)</label>
            <input type="text" class="form-control" name="rent" placeholder="1200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div><br><br>
        <div class="form-group">
            <label for="exampleInputBuisnessIncome">Income Ends in</label>
            <input type="text" class="form-control" name="rent_ends" placeholder="12000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div><br><br>
        <div class="form-group">
            <label for="exampleInputRent">Expected Growth (%)</label>
            <input type="text" class="form-control" name="exp_growth" placeholder="1200">
        </div><br><br>
        <div class="form-group">
            <label for="exampleInputOtherIncome">Business Income (Yearly)</label>
            <input type="text" class="form-control" name="business" placeholder="5000">
        </div>
        <div class="form-group">
            <label for="exampleInputOtherIncomeEnds">Income Ends Year</label>
            <input type="text" class="form-control" name="business_ends" placeholder="2060">
        </div>
        <div class="form-group">
            <label for="exampleInputExpectedGrowthOtherIncome">Expected growth (%)</label>
            <input type="text" class="form-control" name="business_growth" placeholder="5">
        </div><br><br>

        <div class="form-group">
            <label for="exampleInputOtherIncome">Other Income (Yearly)</label>
            <input type="text" class="form-control" name="other" placeholder="5000">
        </div>
        <div class="form-group">
            <label for="exampleInputOtherIncomeEnds">Income Ends Year</label>
            <input type="text" class="form-control" name="other_ends" placeholder="2060">
        </div>
        <div class="form-group">
            <label for="exampleInputExpectedGrowthOtherIncome">Expected growth (%)</label>
            <input type="text" class="form-control" name="other_growth" placeholder="5">
        </div><br><br>
    </form><br><br>

    <form id="form2">
        <div>
            <h4>Expenses :</h4><br><br>
            <label>Yearly Expenses</label><input type="text" name="regular">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="regular_ends">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="exp_inf_reg"><br><br>
        </div>
        <div>
            <label>Utilities</label><input type="text" name="uti">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="uti_ends">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="exp_inf_uti"><br><br>
        </div>
        <div>
            <label>Grocery</label><input type="text" name="grocery">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="grocery_ends">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="exp_inf_groc"><br><br>
        </div>
        <div>
            <label>Yearly Leisure</label><input type="text" name="mon_leisure">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="leisure_ends">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="exp_les_inf"><br><br>
        </div>
        <div>
            <label>Medical Expenses</label><input type="text" name="me">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="me_ends">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="me_inf"><br><br>
        </div>
        <div>
            <label>Domestic Staff</label><input type="text" name="ds">&nbsp;&nbsp;
            <label>Expenses ends in</label><input type="text" name="ds_ends">&nbsp;&nbsp;
            <label>Expected Inflation</label><input type="text" name="exp_ds_inf"><br><br>
        </div>

    </form>
    <br><br>

    <form id="form3">
        <h4>Liabilities : </h4>
        <label>Home Loan</label>&nbsp;&nbsp;<input type="text" name="liabilities">&nbsp;&nbsp;<label>EM Ends in :</label><input type="text"><br><br>
       <label>Car Loan</label>&nbsp;&nbsp;<input type="text" name="liabilities">&nbsp;&nbsp;<label>EM Ends in :</label><input type="text">
    </form>
    <div>
        <button type="submit" class="btn btn-success" onclick="submitForms()">Submit</button></div>
    </div>
</body>

</html>
